.container {
    text-align: left;
}

.textContainer {
    margin-bottom: 2em;
}

.imageContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2em;
}

.markdown a {
    color: rgb(178, 11, 58);
    transition: 250ms ease all;
}

.markdown a::after {
    content: ' >';
    margin-left: 0;
    transition: 250ms ease all;
}

.markdown a:hover {
    color: rgb(255, 16, 83);
}

.markdown a:hover::after {
    margin-left: 0.2em;
}

.markdown p {
    margin-bottom: 1em;
}
