.container {
    width: 100%;
    border-radius: 1em;
    overflow: hidden;
}

.imageContainer {
    width: 100%;
    position: relative;
}

.image {
    width: 100%;
    opacity: 1;
    transition: 100ms ease all;
    display: block;
}

.image:first-of-type {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: red;
    opacity: 0
}

.container:hover .image:last-of-type {
    opacity: 0;
}

.container:hover .image:first-of-type {
    opacity: 1
}