.container {
    margin-bottom: 0em;
    background-color: rgba(255, 255, 255, 0.9);
}

.memberContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 0%;
    margin-bottom: 0%;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: auto; 
    margin-right: auto;
}
